#myForm{
    width: 200px;
    height: 500px ;
    border: 1px solid black;
    background-color: green;
}

table{
    background-color: #0d14ff;
    margin: 120px 250px;
}

#myCanvas{
    background-image: url("picture/bg.jpeg");
}

p {


}